@import '~antd/dist/antd.css';

/*Layout css from antd*/

#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

/*#components-layout-demo-custom-trigger .logo {
  height: 100px;
  width: 100px;
  margin: 16px;
  background: rgba(216, 3, 3, 0.3);
}*/

.logo {
  font-size:3vw;
  color: #fff;
  text-align: center;
  height: 10%;
  width: 80%;
  margin: 16px;
  background: rgba(0, 0, 0, 0.747);
}

.site-layout .site-layout-background {
  background: rgb(252, 252, 252);
}


.header-right-part{
  padding-left: 20px;
  font-size: 25px;
  height: 100%;
  width:50%;
  border: 1px solid red;
  text-align: left;
  display: inline-block;
}

.header-left-part{
  font-size: 18px;
  height: 100%;
  width:50%;
  text-align: left;
  display: inline-block;
  border: 1px solid rgb(0, 168, 28);
}

.trigger{
  font-size: 20px;
  
}

.site-layout-background{
  text-align: left;
}

.main-layout{
  height: 100vh;
}